<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrbustsecond.dao.Passwordcracking_MaintaskMapper">
    <select id="query" parameterType="com.hrbustsecond.entity.Passwordcracking_Maintask" resultType="com.hrbustsecond.entity.Passwordcracking_Maintask">
        SELECT
        id,PC_MD5,PC_Password,PC_CreateTime, PC_EndTime
        FROM zt_database.passwordcracking_maintask WHERE 1=1
        <if test="id !=null and id !='' and id !=0">
            AND id=#{id}
        </if >
        <if test="PC_MD5 !=null and PC_MD5 !=''">
            AND PC_MD5 =  #{PC_MD5}
        </if >
    </select>
    <update id="update" parameterType="com.hrbustsecond.entity.Passwordcracking_Maintask">
        UPDATE zt_database.passwordcracking_maintask SET
        <trim suffixOverrides=",">
            <if test="PC_MD5 !=null and PC_MD5 !=''">
                PC_MD5 = #{PC_MD5},
            </if >
            <if test="PC_Password !=null and PC_Password !=''">
                PC_Password = #{PC_Password},
            </if >
            <if test="PC_CreateTime !=null and PC_CreateTime !=''">
                    PC_CreateTime=#{PC_CreateTime,jdbcType=TIMESTAMP },
            </if >
            <if test=" PC_EndTime !=null and PC_EndTime !=''">
            PC_EndTime = #{PC_EndTime,jdbcType=TIMESTAMP},
          </if >
        </trim>
        WHERE id=#{id}
    </update>
    <insert id="insert" parameterType="com.hrbustsecond.entity.Passwordcracking_Maintask" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zt_database.passwordcracking_maintask
        (id
        <if test="PC_MD5 !=null and PC_MD5 !=''">
            ,PC_MD5
        </if >
        <if test="PC_Password !=null and PC_Password !=''">
            ,PC_Password
        </if >
        <if test="PC_CreateTime !=null and PC_CreateTime !=''">
            , PC_CreateTime
        </if >
        <if test="(PC_EndTime !=null and PC_EndTime !='')">
            , PC_EndTime
        </if >          )
        VALUES
        (0
        <if test="PC_MD5 !=null and PC_MD5 !=''">
            ,#{PC_MD5}
        </if >
        <if test="PC_Password !=null and PC_Password !=''">
            ,#{PC_Password}
        </if >
        <if test=" PC_CreateTime !=null and PC_CreateTime !=''">
            ,#{ PC_CreateTime ,jdbcType=TIMESTAMP}
        </if >
        <if test="( PC_EndTime !=null and PC_EndTime !='')">
            ,#{ PC_EndTime,jdbcType=TIMESTAMP }
        </if >
        )
  </insert>
</mapper>
