<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrbustsecond.dao.Passwordcracking_TaskMapper">

    <select id="query" parameterType="com.hrbustsecond.entity.Passwordcracking_Task" resultType="com.hrbustsecond.entity.Passwordcracking_Task">
        SELECT
        id,PC_MD5,PC_Password,PC_Userid,PC_State,PC_Partuserid,PC_Maintaskid,PC_File,PC_Process
        FROM zt_database.passwordcracking_task WHERE 1=1
        <if test="id !=null and id !='' and id !=0">
            AND id=#{id}
        </if >
        <!--<if testw="name !=null and name !=''">-->
            <!--<bind name="pattern1" value="'%'+name+'%'"></bind>-->
            <!--AND name LIKE  #{pattern1}-->
        <!--</if >-->
        <if test="PC_MD5 !=null and PC_MD5 !=''">
            AND PC_MD5 =  #{PC_MD5}
        </if >
        <if test="PC_Userid !=null and PC_Userid !='' and PC_Userid !=0">
            AND PC_Userid = #{PC_Userid}
        </if >
        <if test="(PC_State !=null and PC_State !='') and PC_State != 0">
            AND PC_State = #{PC_State}
        </if >
        <if test="PC_Partuserid !=null and PC_Partuserid !='' and PC_Partuserid !=0">
            AND PC_Partuserid = #{PC_Partuserid}
        </if >
        <if test="PC_Maintaskid !=null and PC_Maintaskid !='' and PC_Maintaskid !=0">
            AND PC_Maintaskid = #{PC_Maintaskid}
        </if >
    </select>
    <select id="queryAllByUser" parameterType="com.hrbustsecond.entity.Passwordcracking_Task" resultType="com.hrbustsecond.entity.Passwordcracking_Task">
        SELECT
        id,PC_MD5,PC_Password,PC_Userid,PC_State,PC_Partuserid,PC_Maintaskid,PC_File,PC_Process
        FROM zt_database.passwordcracking_task WHERE 1=1
            AND ( PC_Userid = #{PC_Userid}
            OR PC_Partuserid = #{PC_Partuserid} )
    </select>

    <update id="update" parameterType="com.hrbustsecond.entity.Passwordcracking_Task">
            UPDATE zt_database.passwordcracking_task SET
            <trim suffixOverrides=",">
                <if test="PC_MD5 !=null and PC_MD5 !=''">
                    PC_MD5 = #{PC_MD5},
                </if >
                <if test="PC_Password !=null and PC_Password !=''">
                    PC_Password = #{PC_Password},
                </if >
                <if test="PC_Userid !=null and PC_Userid !='' and  PC_Userid !=0">
                    PC_Userid=#{PC_Userid},
                </if >
                <if test=" PC_State !=null and PC_State !='' and PC_State !=0">
                    PC_State = #{PC_State},
                </if >
                <if test="PC_Partuserid !=null and PC_Partuserid !='' and  PC_Partuserid !=0">
                    PC_Partuserid=#{PC_Partuserid},
                </if >
                <if test="PC_Maintaskid !=null and PC_Maintaskid !='' and  PC_Maintaskid !=0">
                    PC_Maintaskid=#{PC_Maintaskid},
                </if >
                <if test="PC_File !=null and PC_File !=''">
                    PC_File=#{PC_File},
                </if >
                <if test="PC_Process !=null and PC_Process !='' and  PC_Process !=0">
                    PC_Process=#{PC_Process},
                </if >
            </trim>
            WHERE id=#{id}
        </update>
    <insert id="insert" parameterType="com.hrbustsecond.entity.Passwordcracking_Task" useGeneratedKeys="true" keyProperty="id">
          INSERT INTO zt_database.passwordcracking_task
          (id
            <if test="PC_MD5 !=null and PC_MD5 !=''">
                ,PC_MD5
            </if >
            <if test="PC_Password !=null and PC_Password !=''">
                ,PC_Password
            </if >
            <if test="PC_Userid !=null and PC_Userid !=''">
                ,PC_Userid
            </if >
            <if test="(PC_State !=null and PC_State !='')">
                ,PC_State
            </if >
            <if test="PC_Partuserid !=null and PC_Partuserid !=''">
                ,PC_Partuserid
            </if >
            <if test="PC_Maintaskid !=null and PC_Maintaskid !=''">
                ,PC_Maintaskid
            </if >
            <if test="PC_File !=null and PC_File !=''">
                ,PC_File
            </if >
            ,PC_Process
          )
          VALUES
          (0
            <if test="PC_MD5 !=null and PC_MD5 !=''">
                ,#{PC_MD5}
            </if >
            <if test="PC_Password !=null and PC_Password !=''">
                ,#{PC_Password}
            </if >
            <if test="PC_Userid !=null and PC_Userid !=''">
                ,#{PC_Userid}
            </if >
            <if test="(PC_State !=null and PC_State !='')">
                ,#{PC_State}
            </if >
            <if test="PC_Partuserid !=null and PC_Partuserid !=''">
                ,#{PC_Partuserid}
            </if >
            <if test="PC_Maintaskid !=null and PC_Maintaskid !=''">
                ,#{PC_Maintaskid}
            </if >
            <if test="PC_File !=null and PC_File !=''">
                ,#{PC_File}
            </if >
            ,0
          )
        </insert>
</mapper>