<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrbustsecond.dao.Passwordcracking_NodeMapper">
    <select id="query" parameterType="com.hrbustsecond.entity.Passwordcracking_Node" resultType="com.hrbustsecond.entity.Passwordcracking_Node">
        SELECT
        id,PC_Host,PC_Port,PC_State
        FROM zt_database.passwordcracking_node WHERE 1=1
        <if test="id !=null and id !='' and id !=0">
            AND id=#{id}
        </if >
        <if test="PC_State !=null and PC_State !='' and PC_State !=0">
            AND PC_State =  #{PC_State}
        </if >
    </select>
    <update id="update" parameterType="com.hrbustsecond.entity.Passwordcracking_Node">
        UPDATE zt_database.passwordcracking_node SET
            <if test="PC_State !=null and PC_State !='' and PC_State !=0">
                PC_State = #{PC_State}
            </if >
        WHERE id=#{id}
    </update>
    <insert id="insert" parameterType="com.hrbustsecond.entity.Passwordcracking_Node" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO zt_database.passwordcracking_node
        (id
        <if test="PC_Host !=null and PC_Host !=''">
            ,PC_Host
        </if >
        <if test="PC_Port !=null and PC_Port !=''">
            ,PC_Port
        </if >
        <if test="PC_State !=null and PC_State !='' and PC_State !=0">
            , PC_State
        </if >         )
        VALUES
        (0
        <if test="PC_Host !=null and PC_Host !=''">
            ,#{PC_Host}
        </if >
        <if test="PC_Port !=null and PC_Port !=''">
            ,#{PC_Port}
        </if >
        <if test=" PC_State !=null and PC_State !='' and PC_State !=0 ">
            ,#{ PC_State}
        </if >
        )
  </insert>
</mapper>
