<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!--<package name="com.juyuanheshun.intro.entity"/>-->
        <package name="com.hrbustsecond.entity"/>
    </typeAliases>

    <!--<mappers>-->
        <!--<mapper class="com.hrbustsecond.dao.Passwordcracking_UserMapper"/>-->
        <!--<mapper class="com.hrbustsecond.dao.Passwordcracking_TaskMapper"/>-->
    <!--</mappers>-->
</configuration>